@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700");

* {
    font-family: Open Sans;
}

* {
    margin: 0px;
    padding: 0px;
}

*::-webkit-scrollbar {
    width: 12px;
    /* ширина scrollbar */
}
*::-moz-scrollbar {
    width: 12px;
    /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
    background: #7f577e;
    border-radius: 0px;
    border-radius: 20px;
}
*::-moz-scrollbar-track {
    background: #7f577e;
    border-radius: 0px;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: #2d2f2f;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 3px solid #57b380;
    /* padding вокруг плашки */
}
*::-moz-scrollbar-thumb {
    background-color: #2d2f2f;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 3px solid #57b380;
    /* padding вокруг плашки */
}


body {
  background-color: #d1f3e7;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Для старых браузеров */
    height: 7.5em;
    /* Высота шапки */
    text-decoration-color: white;
}

.article .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.article .content *{
    font-family: 'Montserrat', sans-serif;
}

.article {
    font-family: 'Open Sans', Arial, sans-serif;
    float: left;
    overflow: auto;
    margin: 20px 1.3%;
    min-width: 360px;
    max-width: 360px;
    min-height: 535px;
    max-height: 535px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    /* шрифт */
    text-align: left;
    font-size: 16.25px;
    font-weight: 550;
    box-shadow: 0 0 16.5px #d2e6e4;
}

.article * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.article:after {
    position: absolute;
    top: 12px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #d2652d;
    /* стрелки */
    content: '';
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.article img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

.article .content {
    padding: 10px 10px 10px;
}

.article .date {
    background-color: #8ab5b0;
    top: 15px;
    color: #fff;
    right: 15px;
    min-height: 30px;
    min-width: 48px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}

.article .date span {
    display: block;
    line-height: 14px;
}

.article .date .month {
    font-size: 11px;
}

.article h3,
.article p {
    margin: 0;
    padding: 0;
}

.article h3 {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 700;
}

.article p {
    font-size: 0.8em;
    margin-bottom: 20px;
    font-style: italic;
    line-height: 1.6em;
}

.article a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.article:hover:after,
.article.hover:after {
    -webkit-transform: translateX(1%);
    transform: translateX(1%);
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header a img{
    height: 100%;
}

#title-Tag-Line {
  font-size: 20px;
}
/* .card-item__bg{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  margin: 30px auto;
  transform: translate(0px, 50px);
  z-index: 5;
} */

/* form animation starts */
.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 5px solid #0e3721;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}

.form:hover{
    animation: none;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: black;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #5bbca0;
  font-size: 20px;
}

.clear {
  width: 200px;
  color: white;
  background-color: #a78c63;
  font-size: 20px;
}

.clear:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}


@keyframes bounce {
  0% {
    tranform: translate(0, 1px);
  }
  50% {
    transform: translate(0, 2px);
  }
}
