{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<html>

<head>
    <title>О нас</title>
    <link href="{% static 'main/styleabout.css'%}" rel="stylesheet">
    <div class="copy" style="position: fixed; font-size:11px; margin: 2px;" ;>&copy; Права защищены 2021-2022 </div>
</head>

<body bgcolor="#c6a1ff">
    <div class="buttons">
        <div class="btncontainer">
            <div class="tgbtn">
                <a style="margin-right: 65px; margin-top: -50px;" сlass="floating-button" title="При обнаружении багов или ошибок писать сюда" href="https://t.me/pusevgang"> <img id="fckblsht" src="https://img.icons8.com/color/2x/telegram-app.png">
                </a>
                <a title="Часто задаваемые вопросы" style="position: relative; bottom:-2px; left: 10.5px; position: fixed; z-index: 1;" title="About us" href="faq.html"> <img id="faqbtn" src="https://cdn-icons-png.flaticon.com/128/2618/2618596.png">
                </a>
            </div>
            <div class="langbtns">
                <a class="floating-button" href="about.html">RUS</a>
                <a class="floating-button floating-button1" href="abouteng.html">ENG</a>
            </div>
            <a style="margin-right: 8px; margin-top: -20px" class="floating-button button-home" href="main.html">HOME</a>
        </div>
    </div>
    <h1> О нас </h1>
    <h2> Способности системы: </h2>
    <ul class="list1a">
        <li> Основано в 1822 году как личная курьерско-новостная служба графа Шеремета фон Рабиновича. После революции было национализировано большевиками и долгое время конкурировало с ТАСС. </li>
        <li> В 1953-1954 году было единственным советским информагентством, осветившим восстание в ГУЛАГе. С 1955 года работало на нелегальном положении, вещая из служебных помещений газеты «Огонёк» при личном покровительстве маршала Семёна
            Будённого. В 1988 году агентство вновь официально зарегистрировано, как средство массовой информации. </li>
        <li> В 1991 году главный редактор ИА «Панорама» Борис Гонтермахер, находясь на отдыхе во Флориде, героически отказал главе ГКЧП Геннадию Янаеву в поддержке во время телефонного разговора. Таким образом, издание встало на сторону народа,
            восставшего против большевиков.</li>
        <li> В 1990-е годы ИА «Панорама» основало банк «Панорама», агентство недвижимости «Панорама» и сеть секонд-хендов «Панорама-boutique» таким образом обеспечив себе надёжный выход на финансовый рынок России и мира.</li>
        <li> В 2001 году Борис Гонтермахер и его соратник Виталий Манн объявили о создании на площадке агентства партии «Панорама». Политики успешно боролись с реваншизмом авторитарных сил до 2009 года, после чего переехали в Монте-Карло и продолжили
            вещание агентства оттуда, параллельно открыв шиномонтаж «Панорама».</li>
        <li> Наши цели — сохранять верность традициям, заложенным в 200-летней истории агентства, максимально объективно и достоверно доносить информацию о происходящем в России и мире. Для постоянных клиентов шиномонтажа — скидки при сезонной смене
            резины!</li>
    </ul>
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Информационное Агенство
                <p></p>
                <span>Панорама Интеллект</span>
            </h3>

            <p class="footer-links">
                <a href="#" class="link-1">Домой</a>

                <a href="https://panorama-intellect.me/warning">⚠ Предупреждение ⚠</a>
                <a href="mailto:admin@panorama-intellect.me">Связь</a>
                <a href="#">О нас</a>
                <a href="#">Faq</a>
            </p>

            <p class="footer-company-name">ИА "Панорама Интеллект" &copy 2022 All rights reserved</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>ул. Новоцентральная, д. 21/7</span> г. Санкт-Петербург, пос. Лисий Нос</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p></p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:admin@panorama-intellect.me">admin@panorama-intellect.me</a></p>
            </div>

        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>О нас</span>
                Информационное агенство "Панорама Интеллект"
            </p>

            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

        </div>

    </footer>
</body>

</html>