{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<html>

<head>
    <title>ИА Панорама Интеллект</title>
    <link rel="stylesheet" href="{% static 'main/offer.css' %}">
    <link rel="icon" href="{% static 'main/images/ia-panorama.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'main/images/ia-panorama.png' %}" type="image/png">
</head>
<header>
    <a href="main.html" style="margin-right: 65px; " сlass="floating-button"> <img id="fckblsht" src="{% static 'main/images/ia-panorama.png' %}"> </a>
    <div style="color:gray;">Все совпадения случайны. ИА Панорама Интеллект. Права защищены. 1991-2022
        <p align="right"> <a target="_blank" style="color: #1a20ce; margin-right: 1px; font-weight: 700; font: 'Open Sans'; font-size: 19px; font-style: oblique;" href="warning"> ⚠ Предупреждение ⚠</a></p>
    </div>
</header>

<body>
    <div class="wrapper">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="pageTitle title">Предложить новость</div>
            <div class="secondaryTitle title">Заполните поля новости</div>
            <input name="name" type="text" class="name formEntry" placeholder="Название" />
            <input name="image" type="text" class="email formEntry" placeholder="Ссылка на картинку" />
            <textarea name="info" class="message formEntry" placeholder="Сама новость"></textarea>
            <button type="reset" class="clear formEntry">Очистить</button>
            <button type="submit" class="submit formEntry">Отправить</button>
        </form>
    </div>
</body>

</html>