{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<html>

<head>
    <title>ИА Панорама Интеллект</title>
    <link rel="stylesheet" href="{% static 'main/offer.css' %}">
    <link rel="icon" href="{% static 'main/images/ia-panorama.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'main/images/ia-panorama.png' %}" type="image/png">
</head>
<header>
    <a href="main.html" style="margin-right: 65px; " сlass="floating-button"> <img id="fckblsht" src="{% static 'main/images/ia-panorama.png' %}"> </a>
    <div style="color:gray;">Все совпадения случайны. ИА Панорама Интеллект. Права защищены. 1991-2022
        <p align="right"> <a target="_blank" style="color: #1a20ce; margin-right: 1px; font-weight: 700; font: 'Open Sans'; font-size: 19px; font-style: oblique;" href="warning"> ⚠ Предупреждение ⚠</a></p>
    </div>
</header>

<body onload="Loaded()">
    <div class="main">
        <div class="wrapper">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="pageTitle title">Предложить новость</div>
                <div class="secondaryTitle title">Заполните поля новости</div>
                <input id="inputname" name="name" type="text" class="name formEntry" placeholder="Название" />
                <input id="inputimage" name="image" type="text" class="email formEntry" placeholder="Ссылка на картинку" />
                <textarea id="inputinfo" name="info" class="message formEntry" placeholder="Сама новость"></textarea>
                <button type="reset" class="clear formEntry">Очистить</button>
                <button type="submit" class="submit formEntry">Отправить</button>
            </form>
        </div>
        <div class="preview">
            <figure class="article">
                <div class="content">
                    <img id="image" class="image" src="" alt="Картинка не грузится..."/>
                    <div id="date" class="date">Предпросмотр</div>
                    <p></p>
                    <h3 id="name"></h3>
                    <p id="info"></p>
                </div>
            </figure>
        </div>
    </div>
    <script type="text/javascript">
        function Preview(){
            document.querySelector('#name').innerHTML = document.querySelector('#inputname').value;
            document.querySelector('#image').src = document.querySelector('#inputimage').value;
            document.querySelector('#info').innerHTML = document.querySelector('#inputinfo').value.split('\n').join('<br>');
        }
        function Loaded(){
            setInterval(Preview, 100);
        }
    </script>
</body>

</html>
